
#clickB{
    background-color: purple;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-left: 630px;
}
#eachInfo{
    background-color: greenyellow;
    width: 100px;
    height: 60px;
    color: white;
    font-size: 15px;
    margin-left: 550px;
    border-radius: 80%;
    margin-left: 600px;
}
#each{
    font-size: 15px;
    margin-left: 200px;
}
#editbutton{
    width: 80px;
    height: 50px;
    background-color: coral;
    color: black;
}
#each_info{
    border: 2px solid palegreen;
    width: 500px;
    height: 200px;
  
}
#deletebutton{
    width: 80px;
    height: 50px;
    background-color: black;
    color: aliceblue;
}

#create{
    width: 200px;
    height: 150px;
    border: 3px solid slateblue;
    display: inline-block;
    vertical-align: top;
}
#editOne{
    width: 200px;
    height: 150px;
    border: 3px solid cyan;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}
#showbutton{
    width: 80px;
    height: 50px;
    background-color: crimson;
    color:white;
}
#showOne{
    width: 200px;
    height: 150px;
    border: 3px solid yellowgreen;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}